@import url('https://fonts.googleapis.com/css2?family=Inika&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inika&family=Inter&display=swap');

body {
    font-family: 'Inika';
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1;
    
}
.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 50px;
}
.header {
    background-color: #EDF2EC;
    font-family:'Inika';
}
a {
    text-decoration: none;
}
.nav-bar {
    padding: 60px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.nav-list {
    list-style-type: none;
    display: flex;
    font-size: 16px;
    padding-left: 46px;
}
.nav-link {
    font-family: 'Inika';
    text-decoration: none;
    color: #010201;
    display: inline-block;
    width : 100px;
    
}
.nav-link:hover {
    color: #E06733;
}
.nav-logo {
    display: flex;
    align-items: center;
}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 60px 0px;
}
.header-img {
    background-image: url(assets/img/leafs.png);
    background-size: cover;
    width: 448px;
    height: 408px;
}
.header-info {
    font-family: 'Inter';
}
.header-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    color: #717171;
}
.header-title span {
    color: #499A18;
}
.header-subtitle {
    padding-top: 42px;
    padding-bottom: 48px;
    line-height: 35px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #636060;
}
.header-button {
    color: black;
    font-size: 16px;
    border: 2px solid #E06733;
    border-radius: 10px;
    padding: 10px 27px;
}
.header-button:hover{
    color: #ffffff;
    background-color: #E06733;
}