@import url('https://fonts.googleapis.com/css2?family=Inika&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inika&family=Inter&display=swap');

body {
    font-family: 'Inika';
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1;
    
}
.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 50px;
}
.header {
    background-color: #EDF2EC;
    font-family:'Inika';
}
a {
    text-decoration: none;
}
.nav-bar {
    padding: 60px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.nav-list {
    list-style-type: none;
    display: flex;
    font-size: 16px;
    padding-left: 46px;
}
.nav-link {
    font-family: 'Inika';
    text-decoration: none;
    color: #010201;
    display: inline-block;
    width : 100px;
    
}
.nav-link:hover {
    color: #E06733;
}
.nav-logo {
    display: flex;
    align-items: center;
}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 60px 0px;
}
.header-img {
    background-image: url(assets/img/leafs.png);
    background-size: cover;
    width: 448px;
    height: 408px;
}
.header-info {
    font-family: 'Inter';
}
.header-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    color: #717171;
}
.header-title span {
    color: #499A18;
}
.header-subtitle {
    padding-top: 42px;
    padding-bottom: 48px;
    line-height: 35px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #636060;
}
.header-button {
    color: black;
    font-size: 16px;
    border: 2px solid #E06733;
    border-radius: 10px;
    padding: 10px 27px;
}
.header-button:hover{
    color: #ffffff;
    background-color: #E06733;
}
/*main*/
.about-body {
    padding: 93px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.about-title {
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
}
.about-title span {
    color: #E06733;
}
.about-subtitle {
    padding-top: 40px;
    font-family: 'Inter';
    font-size: 20px;
    line-height: 30px;
    color: #636060;
}
.about-img {
    background-image: url(assets/img/houseplant.png);
    background-size: cover;
    width: 449px;
    height: 479px;
}
/** service **/
.service {
    background-color: #EDF2EC;
}
.service-body {
    padding: 40px 0px 65px;
}
.service-header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.service-title {
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
    margin-right: 215px;
}
.service-clack {
    font-size: 20px;
    line-height: 26px;
    color: #E06733;
    border: 1px solid #E06733;
    border-radius: 3px;
    padding: 12px 40px;
    margin-right: 48px;
}
.service-clack:hover {
    color: #ffffff;
    background-color: #E06733;
    cursor: pointer;
}
.but2 {
    padding: 12px 50px;
}
.service-items {
    padding-top: 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.service-item {
    padding-bottom: 55px;
}
.srvc-img {
    border-radius: 20px 20px 0px 0px;
    background-size: cover;
    height: 350px;
    width: 339px;
}
.service-img1 {
    background-image: url(assets/img/service-img/img1.png);
}
.service-img2 {
    background-image: url(assets/img/service-img/img2.png);
}
.service-img3 {
    background-image: url(assets/img/service-img/img3.png);
}
.service-img4 {
    background-image: url(assets/img/service-img/img4.png);
}
.service-img5 {
    background-image: url(assets/img/service-img/img5.png);
}
.service-img6 {
    background-image: url(assets/img/service-img/img6.png);
}

.service-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter';
    line-height: 20px;
    border: 1px solid #E3E1D5;
    border-radius: 0px 0px 20px 20px;
    padding: 10px 31px 36px;
}
.srvc-title {
    font-weight: 700;
    font-size: 20px;
    color: #E06733;
}
.service-text {
    padding-top: 10px;
    font-size: 16px;
    color: #717171;
}